*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    animation: bgimage 60s infinite;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    text-align: center;
    background: rgba(129,54,198,0.8);
    padding: 10px;
    animation: head 5s infinite;

}
@keyframes bgimage{
    0%{
        background-image: url(https://wallpapercave.com/uwp/uwp1942410.jpeg);
        background-size: cover;
    }
    50%{
        background-image: url(https://wallpapercave.com/uwp/uwp1947253.jpeg);
        background-size: cover;
    }
    100%{
        background-image: url(https://wallpapercave.com/uwp/uwp1949870.png);
        background-size: cover;
    }
}
@keyframes head{
    25%{
        background-color: rgb(16, 108, 138,0.8);
    }
    50% {background-color: rgb(7, 255, 255,0.8);
    }
}

article{
    margin-top: 5%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{

    background-color: rgba(2, 185, 247, 0.8) ;
    padding: 70px;
    border-radius: 10px;
    border: yellowgreen solid 2px;
    box-shadow: 2px 3px 3px 2px rgba(0, 0, 0, 0.6);
    padding-bottom: -10px;

}
div{
    padding: 5px;
    border: black 1px solid;
    border: none;
}

label{

    width: 150px;
    display: inline-block;

}
input{

    display: inline-block;

}

input[type="submit"]{
    background-color: rgb(14, 223, 91,0.8);
    width: 100%;
    padding: 5px 0px;
    margin-top: 3px;
}

input[type=text]{
    margin-left: 0px;
}

.finish{
    display: flex;
    justify-content: center;
}

#aboutthis{
    justify-content: center;
    text-align: center;
    background-color: aquamarine;
}

select{
    width: 50%;
    padding: 4px;
}

input[type="color"]{
    width: 50;
}

input[type="datetime-local"]{
    width: 50%;

}
input{
    border-radius: 5px;
    padding: 4px;
}

@media screen and (max-width: 550px) {
    form{
    padding: 10px;

    }
}

@media screen and (max-width: 365) {
    
    header{
        color:rgb(250, 0, 0);
    }
    
}